@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
/* Clase para la fuente Audiowide */
.audiowide-regular {
	font-family: "Audiowide", cursive;
	font-weight: normal;
}

.animate-cta-pulse {
	animation: cta-pulse 1.5s infinite;
}
@import "tailwindcss";

@theme {
	--font-sans:
		"Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--color-primary: #2563eb;
	--color-primary-dark: #1e40af;
	--color-primary-light: #3b82f6;
	--color-blue: #2563eb;
	--color-blue-dark: #1e40af;
	--color-blue-light: #3b82f6;
	--color-green: #16a34a;
	--color-green-dark: #15803d;
	--color-green-light: #22c55e;
	--color-red: #dc2626;
	--color-red-dark: #b91c1c;
	--color-red-light: #ef4444;
	--color-yellow: #eab308;
	--color-yellow-dark: #ca8a04;
	--color-yellow-light: #facc15;
	--color-purple: #7c3aed;
	--color-purple-dark: #6b21a8;
	--color-purple-light: #a78bfa;
}

@keyframes cta-pulse {
	0% {
		box-shadow: 0 0 0 0 var(--color-red);
	}
	70% {
		box-shadow: 0 0 0 16px rgba(37, 99, 235, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(37, 99, 235, 0);
	}
}

html,
body {
	@apply bg-white dark:bg-gray-950;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}

p {
	font-size: 16px;
	@media screen and (min-width: 640px) {
		font-size: 18px;
	}
}
.audiowide-regular {
	font-family: "Audiowide", sans-serif;
	font-weight: 400;
	font-style: normal;
}
